@media screen and (-webkit-min-device-pixel-ratio:0) { #loading{padding-left: 80px;} }


#ui-datepicker-div {
  z-index: 1000 !important;
}

.ui-widget-header{ background: none !important; background-color: #EA1D22 !important; border: none !important; }

.saveMeetingModal { display: none; }

.saveMeetingModal form label { float: left; width: 70px; text-align:left;}

#loading 
{
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 6px;
}
#loading 
{ 
    padding-left:85px\9;
}
div.field
{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 5px;
    width: 358px;
}
#save_meeting{
    position: relative;
    margin-left:76px;
}
.formLayout
{
    padding: 10px;
    overflow: hidden;
}   
.formLayout label, .formLayout input, .formLayout select
{
    display: block;
    float: left;
    margin-bottom: 10px;
}
.formLayout label
{
    width: 90px;
    text-align: right;
    padding-right: 20px;
}
.formLayout input, .formLayout select 
{	
    width: 200px;
}
br
{
    clear: left;
}
.fc-event-skin 
{
	border-color: #202020;
}
.fc-event-skin .fc-event-bg
{
	background: #E0E0E0 !important;
}
.fc-event-time, .fc-event-inner
{
	background: #EA1D22;
}
.fc-agenda .myEvents .fc-event-time, .myEvents .fc-event-inner, .myEvents a 
{
   background: #EA1D22 url(../images/wrench.png) no-repeat center right; /* background color */
}
.fc-event-content 
{
	color: #202020;	
	background: #E0E0E0;
}
#recurCheckbox{
   margin-left: -90px;
}
